<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" >
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Site created by Mark Gill and uses Mapbox and Weatherstack API's.</p>
        <img class="portrait" src="/img/colin.jpg" alt="Colin">
    </div>
    {{>footer}}
</body>

</html>
